body::-webkit-scrollbar{
    width: 12px;
}

body a.nav-link{
    color: black !important;
}

body a.nav-link:hover{
    color: red !important;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(63, 100, 179);
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(77, 68, 189);
}

html {
    scroll-behavior: smooth;
}

span {
    color: red;
}

.nav-link {
    color: black !important;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

footer .redes a {
    color: white;
    font-size: 35px;
    letter-spacing: 15px;
}

.subir {
    width: 40px;
    height: 40px;
    color: white;
    background-color: rgb(56, 55, 55);
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px white;
}

section {
    background-size: cover;
    background-position: center;
    background-image: url(imagenes/Espacio\ de\ trabajo.jpg)
}

section h2 {
    color: white;
    text-align: center;
    line-height: 40px;
}

.FondoNosotros {
    background-image: url(imagenes/Espacio\ de\ trabajo.jpg);
    width: auto;
    height: auto;
    background-position: center;
    padding: 10px;
}

.FondoNosotros h2{
    text-align: center;
}

.FondoIndex {
    background-image: url(imagenes/Espacio\ de\ trabajo.jpg);
    width: auto;
    height: auto;
    background-position: center;
}

.FondoCarrucelIndex {
    width: auto;
    height: auto;
}

.carousel-item {
    max-height: 500px;
}

.FondoContacto {
    background-image: url(imagenes/contacto.jpg);
}

.FondoNosotros .img-fluid{
    max-height: 350px;
}

.carousel-caption h5{
    color: black;
    padding: 4px;
    background-color: white;
    opacity: 0.7;
}

.card{
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.4);
}